<!doctype html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="IdrissDidac website">
	<meta name="author" content="malekbenz">

	<title>IdrissDidac.com</title>

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->

	<!-- Google Web Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700" rel="stylesheet"
	 type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Oswald:400,700,300" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400"
	 rel="stylesheet" type="text/css">

	<!-- CSS Files -->
	<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/owl.carousel.css" rel="stylesheet">
	<link href="css/style.min.css" rel="stylesheet">
	<!--<link href="css/responsive.css" rel="stylesheet">-->

	<!--[if lt IE 9]>
		<script src="js/ie8-responsive-file-warning.js"></script>
	<![endif]-->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/fav-144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/fav-114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/fav-72.png">
	<link rel="apple-touch-icon-precomposed" href="images/fav-57.png">
	<link rel="shortcut icon" href="images/fav.png">

</head>

<body ng-app="app">
	<!-- Header Section Starts -->
	<header id="header-area">
		<!-- Main Header Starts -->
		<div class="main-header">
			<div class="container">
				<div class="row">
					<!-- Logo Starts -->
					<div class="hidden-xs col-sm-4 col-md-3">
						<div id="logo">
							<a href="index.html"><img width="300" src="images/logo-idriss.png" title="IdrissDidac.com" alt="IdrissDidac.com" class="img-responsive"
								/></a>
						</div>
					</div>
					<!-- Logo Starts -->
					<div class="col-sm-8 col-md-5 text-center">
						<h3 ><strong>EURL IDRISS EL KHARATI IMPORT EXPORT</strong> </h3>
						<h2 style="color: darkblue"  ><strong>IDISS-DIDAC</strong> </h2>
						<h5>DISTRIBUTEUR DE MATERIEL DIDACTIQUES ET SCIENTIFIQUES</h5>
					</div>
					<div class="col-md-3 hidden-sm hidden-xs">
						<div class="text-right">
							<h5 style="color:red">
								<i class="fa fa-mobile" aria-hidden="true"></i> 
								+(213) 550 667 524 – 791 834 243
							</h5>
							<div>
								ADRESSE : CITE KAABOUB SETIF
							</div>
							<h4 >info@idrissdidac.com </h4>
						</div>
					</div>

					<!-- Search Starts -->
					<!--<div class="col-md-3">
						<div id="search">
							<div class="input-group">
								<input type="text" class="form-control input-lg" placeholder="Recherche">
								<span class="input-group-btn">
								<button class="btn btn-lg" type="button">
									<i class="fa fa-search"></i>
								</button>
							  </span>
							</div>
						</div>
					</div>-->
					<!-- Search Ends -->
				</div>
			</div>
		</div>
		<!-- Main Header Ends -->
		<!-- Main Menu Starts -->
		<nav id="main-menu" class="navbar" role="navigation">
			<div class="container">
				<!-- Nav Header Starts -->
				<div class="navbar-header">
					<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
						<span class="sr-only">Toggle Navigation</span>
						<i class="fa fa-bars"></i>
					</button>
				</div>
				<!-- Nav Header Ends -->
				<!-- Navbar Cat collapse Starts -->
				<div class="collapse navbar-collapse navbar-cat-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li class="dropdown">
							<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
								Cartes Geographiques vierge
							</a>
							<ul class="dropdown-menu" role="menu">
								<li><a tabindex="-1" href="#">Music System</a></li>
								<li><a tabindex="-1" href="#">DTS</a></li>
								<li><a tabindex="-1" href="#">Home Theater</a></li>
							</ul>
						</li>
						<li><a href="category-list.html">Computers </a></li>
						<li class="dropdown">
							<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
						Pages
					</a>
							<ul class="dropdown-menu" role="menu">
								<li><a tabindex="-1" href="index.html">Home</a></li>
								<li><a tabindex="-1" href="about.html">About</a></li>
								<li><a tabindex="-1" href="category-list.html">Category List</a></li>
								<li><a tabindex="-1" href="category-grid.html">Category Grid</a></li>
								<li><a tabindex="-1" href="product.html">Product</a></li>
								<li><a tabindex="-1" href="product-full.html">Product Full Width</a></li>
								<li><a tabindex="-1" href="cart.html">Cart</a></li>
								<li><a tabindex="-1" href="login.html">Login</a></li>
								<li><a tabindex="-1" href="compare.html">Compare Products</a></li>
								<li><a tabindex="-1" href="typography.html">Typography</a></li>
								<li><a tabindex="-1" href="register.html">Register</a></li>
								<li><a tabindex="-1" href="contact.html">Contact</a></li>
								<li><a tabindex="-1" href="404.html">404</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- Navbar Cat collapse Ends -->
			</div>
		</nav>
		<!-- Main Menu Ends -->
	</header>
	<!-- Header Section Ends -->
	<!-- Main Container Starts -->
	<div id="main-container-home" class="container">
		<div class="row">
			<!-- Sidebar Starts -->
			<div class="col-md-3 col-sm-12 " ng-controller="controller.sidebar as vm">
				<!-- Categories Links Starts -->

				<h3 class="side-heading">{{vm.categoryTitle}}</h3>
				<div class="list-group categories">

					<ul class="aboutul">
						<li class="aboutli" ng-repeat="category in vm.categories ">
							<a href="category-grid.html" class="list-group-item">
								<i class="fa fa-chevron-right"></i> {{category.name}} {{category.children.length? "("+category.children.length+")":
								""}}
							</a>
							<ul class="leftul">
								<li ng-repeat="subCategory in category.children">
									<a href="category-grid.html" class="list-group-item">
										<i class="fa fa-angle-down"></i> {{subCategory.name}}
									</a>
								</li>
							</ul>
						</li>

					</ul>
				</div>
				<!-- Categories Links Ends -->
				<!-- Special Products Starts -->
				<h3 class="hidden-sm hidden-xs side-heading">Specials</h3>
				<ul class="hidden-sm hidden-xs side-products-list">
					<!-- Special Product #1 Starts -->
					<li class="clearfix">
						<img src="images/special-product/spl-product-img1.jpg" alt="Special product" class="img-responsive" />
						<h5><a href="#">Olympus Digital Camera</a></h5>
						<div class="price">
							<span class="price-new">$199.50</span>
						</div>
					</li>
					<!-- Special Product #1 Ends -->
					<!-- Special Product #2 Starts -->
					<li class="clearfix">
						<img src="images/special-product/spl-product-img2.jpg" alt="Special product" class="img-responsive" />
						<h5><a href="#">Olympus Digital Camera</a></h5>
						<div class="price">
							<span class="price-new">$599.50</span>
						</div>
					</li>
					<!-- Special Product #2 Ends -->
					<!-- Special Product #3 Starts -->
					<li class="clearfix">
						<img src="images/special-product/spl-product-img3.jpg" alt="Special product" class="img-responsive" />
						<h5><a href="#">Olympus Digital Camera</a></h5>
						<div class="price">
							<span class="price-new">$199.50</span>
						</div>
					</li>
					<!-- Special Product #3 Ends -->
					<!-- Special Product #4 Starts -->
					<li class="clearfix">
						<img src="images/special-product/spl-product-img1.jpg" alt="Special product" class="img-responsive" />
						<h5><a href="#">Olympus Digital Camera</a></h5>
						<div class="price">
							<span class="price-new">$199.50</span>
						</div>
					</li>
					<!-- Special Product #4 Ends -->
					<!-- Special Product #5 Starts -->
					<li class="clearfix">
						<img src="images/special-product/spl-product-img2.jpg" alt="Special product" class="img-responsive" />
						<h5><a href="#">Olympus Digital Camera</a></h5>
						<div class="price">
							<span class="price-new">$599.50</span>
						</div>
					</li>
					<!-- Special Product #5 Ends -->
				</ul>
				<!-- Special Products Ends -->
				<!-- Banner #1 Starts -->
				<img  src="images/banners/side-banner2.jpg" alt="Side Banner" class="img-responsive hidden-sm hidden-xs " />
				<br>
				<!-- Banner #1 Ends -->
			</div>
			<!-- Sidebar Ends -->
			<!-- Primary Content Starts -->
			<div class="col-md-9 col-sm-12 ">
				<div ui-view></div>
			</div>
			<!-- Primary Content Ends -->
		</div>
	</div>
	<!-- Main Container Ends -->
	<!-- Footer Section Starts -->
	<footer id="footer-area">
		<!-- Footer Links Starts -->
		<div class="footer-links">
			<!-- Container Starts -->
			<div class="container">
				<!-- Information Links Starts -->
				<div class="col-md-2 col-sm-6">
					<h5>Information</h5>
					<ul>
						<li><a href="about.html">A Propos</a></li>
					</ul>
				</div>
				<!-- Information Links Ends -->
				<!-- Follow Us Links Starts -->
				<div class="col-md-2 col-sm-6">
					<h5>nous suivre</h5>
					<ul>
						<li><a href="#">Facebook</a></li>
					</ul>
				</div>
				<!-- Follow Us Links Ends -->
				<!-- Contact Us Starts -->
				<div class="col-md-4 col-sm-12 last">
					<h5>nous contacter</h5>
					<ul>
						<li>EURL IDRISS EL KHARATI IMPORT EXPORT</li>
						<li>
							CITE KAABOUB SETIF
						</li>
						<li>
							Email: <a href="#">info@IdrissDidac.com</a>
						</li>
					</ul>
					<h4 class="lead">
						Tel: <span>(213) 036 43 61 38</span>
					</h4>
				</div>
				<!-- Contact Us Ends -->
			</div>
			<!-- Container Ends -->
		</div>
		<!-- Footer Links Ends -->
		<!-- Copyright Area Starts -->
		<div class="copyright">
			<div class="container">
				<p class="pull-left">
					&copy; 2017. By <a href="http://malekbenz.com">malekbenz.com</a>
				</p>
			</div>
		</div>
	</footer>
	<!-- Footer Section Ends -->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-hover-dropdown.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/angular.min.js"></script>

	<!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>-->

	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>

	<script src="js/app.min.js"></script>

	<script type="text/javascript">
		$(function () {
			$(".categories")
				.on('mouseenter', 'li', function () {
					$(this).find("li").show();
				})
				.on('mouseleave', 'li', function () {
					$(this).find("li").hide();
				});
		});
	</script>

</body>

</html>