    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Notre
                    <strong>Mission</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-left" src="/images/slider/slide1-img.png" alt="">
            </div>
            <div class="col-md-6">
                <ul>
                    <li>
                        <p>Organiser et assurer la connaissance de la situation et de l’évolution du marché national de l’emploi
                            et de la main-d’oeuvre.</p>
                    </li>
                    <li>
                        <p>Organiser et assurer la connaissance de la situation et de l’évolution du marché national de l’emploi
                            et de la main-d’oeuvre.</p>
                    </li>
                    <li>
                        <p>Recueillir et mettre en relation, les offres et les demandes d’emploi enregistrées, afin de sélectionner
                            parmi celles-ci des candidatures répondant aux profils recherchés par les employeurs.</p>
                    </li>
                    <li>
                        <p>Suivre dans le cadre de la législation et de la réglementation relative à l’emploi des étrangers,
                            l’évolution de la main-d’oeuvre étrangère en Algérie, et d’organiser et de gérer le fichier national
                            des travailleurs étrangers.</p>
                    </li>
                    <li>
                        <p>Assurer, pour ce qui la concerne, l’application des mesures découlant des conventions et accords
                            internationaux en matière d’emploi.</p>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


